<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUPS NAS Monitor</title>
</head>
<body>
    <h2>Welcome to the CUPS NAS MONITOR APP</h2>
    <!--show processes-->
    <h3>Select an operation:</h3>
    <a href="/process"><button>Process Input Files</button></a>
    <a href="/import"><button>Search for New Files</button></a>
    <br>
    <a href="/input"><button>Check Input Files</button></a>
    <a href="/output"><button>Check Output Files</button></a>
    <a href="/destination"><button>Check Destination Files</button></a>

    <h4>Files:</h4>
    <ul>
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>
</body>
</html>